*{
    margin:0;
    padding:0;
}
.menu{
    width: 400px;
    height: 50px;
    background-color: yellow;
    margin:0 auto;
    border-bottom:4px solid red;
}
.menu ul li{
    float:left;
    list-style-type: none;
}
.menu ul li a{
    color:black;
    font: 17px Arial;
    text-decoration: none;
    display:block;
    padding: 14px 15px;
}
.menu ul li a:hover{
    background: red;
    color:blue;
}
